@model List<int>
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form class="modal-body text-center text-black" asp-action="DeleteOrder" asp-controller="Order" method="post">
            @foreach (var orderId in Model)
            {
                <input type="hidden" name="orderIds" value="@orderId" />
            }
            <h1 class="p-3">
                <i class="bi bi-person-x fs-1 text-danger"></i>
            </h1>
            <h4>Confirmation for Delete Order</h4>
            <p class="ms-4 me-4 m-auto">
                Are you sure want to Delete this Order? once delete this Order then you are not able to see this Order.
            </p>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-danger  me-2 text-light "> Delete </button>
                <button type="button" class="btn btn-outline-secondary ms-2" id="btncancel"> Cancel </button>
            </div>
        </form>
    </div>
</div>
<script>
    $('#btncancel').click(function () {
        $('#DeletePopUp').modal("hide");
        $('#DeletePopUp').html('');
    })
</script>
