<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body text-center text-black">
            <h1 class="p-3">
                <i class="bi bi-person-x fs-1 text-danger"></i>
            </h1>
            <h4>Confirmation for Delete Customer</h4>
            <p class="ms-4 me-4 m-auto">
                Are you sure want to Delete this Customer? once delete this Customer then you are not able to see this Customer.
            </p>
            <div class="text-center mt-4">
                <a class="btn btn-danger  me-2 text-light " asp-action="DeleteCustomer" asp-controller="Customer" asp-route-customerId="@Model"> Delete </a>
                <button type="button" class="btn btn-outline-secondary ms-2" id="btncancel"> Cancel </button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#btncancel').click(function () {
        $('#DeletePopUp').modal("hide");
        $('#DeletePopUp').html('');
    })
</script>
